<h1 class="text-primary">Resultados</h1>
<small class="text-muted">Resultados por cada test</small>
<hr>
<ul>
  <li>Software Libre (Selección Multiple) - <%= session[:eval_1] %> correctas de 4.</li>
  <li>Software Libre y Código Abierto (Emparejamiento) - <%= session[:eval_2] %> correctas de 3.</li>
  <li>Mundo de Software Libre (Sopa de Letras) - <%= session[:eval_3] %> segundos.</li>
  <li>GNU/Linux (Verdadero o Falso) - <%= session[:eval_4] %> correctas de 5.</li>
  <li>Distribuciones de Linux (Selección Multiple) - <%= session[:eval_5_time] %> segundos.</li>
</ul>
<div class="align-center">
  <button id="show_results" class="btn btn-primary">Mostrar Resultado Final</button>
  <h3 id="eval_results" class="hidden text-info"><%= @results %></h3>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#show_results").on("click",function(){
      $("#eval_results").removeClass("hidden");
    })
  })
</script>